

.btn-qubby {
  background-color: #F39200;
  color: white;
}

.text-qubby {
  color: #F39200 !important;
}
.btn-qubby {
  background-color: #F39200;
  color: white;
}

.text-qubby {
  color: #F39200 !important;
}
