<div class="card p-4 shadow rounded-4 w-100 login-card">
  
  @if (isSuccess) {
    <div class="text-center py-4">
      <i class="bi bi-envelope-check-fill text-qubby" style="font-size: 3rem;"></i>
      <h2 class="text-center mb-1 mt-3">¡Casi listo!</h2>
      
      <p class="text-center text-muted mt-3 px-3">
        📧 Te hemos enviado un correo para activar tu cuenta. <br>
        Por favor, revisa tu bandeja de entrada.
      </p>

      <a routerLink="/auth/login" class="btn btn-qubby fw-bold w-100 mt-3 rounded-3">
        Ir a Iniciar sesión
      </a>
    </div>
  } 
  
@else {
    <h2 class="text-center mb-1">Crear cuenta</h2>
    <p class="text-center text-muted mb-4">Regístrate para comenzar</p>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <ui-input
        type="text"
        placeholder="Nombre de usuario"
        formControlName="name"
        label="Usuario"
        class="d-block mb-3"
      ></ui-input>

      <ui-input
        type="email"
        placeholder="tu@email.com"
        formControlName="email"
        label="Correo electrónico"
        class="d-block mb-3"
      ></ui-input>

      <ui-input
        [type]="showPassword ? 'text' : 'password'"
        placeholder="********"
        formControlName="password"
        label="Contraseña"
        class="d-block mb-0"
      >
        <button
          type="button"
          (click)="togglePassword()"
          class="btn border-0 bg-transparent p-0 position-absolute top-50 end-0 translate-middle-y me-3 text-secondary"
          style="z-index: 5; line-height: 1;"
        >
          <i class="bi fs-5" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
        </button>
      </ui-input>
      
      <p class="form-text text-muted small ps-3 mb-3 mt-1">Debe tener al menos 6 caracteres.</p>

      <ui-input
        [type]="showConfirmPassword ? 'text' : 'password'"
        placeholder="********"
        formControlName="confirmPassword"
        label="Confirmar contraseña"
        class="d-block mb-3"
      >
        <button
          type="button"
          (click)="toggleConfirmPassword()"
          class="btn border-0 bg-transparent p-0 position-absolute top-50 end-0 translate-middle-y me-3 text-secondary"
          style="z-index: 5; line-height: 1;"
        >
          <i class="bi fs-5" [ngClass]="showConfirmPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
        </button>
      </ui-input>

      @if (errorMessage) {
        <div class="text-danger small mt-n2 mb-3 ps-3">
          <i class="bi bi-exclamation-circle me-1"></i> {{ errorMessage }}
        </div>
      }

      <ui-button type="submit" class="btn-qubby">
        Crear cuenta
      </ui-button>

      <p class="text-center mt-4 small">
        ¿Ya tienes cuenta?
        <a routerLink="/auth/login" class="text-qubby">Inicia sesión aquí</a>
      </p>
    </form>
  }
</div>