qubby.servervla.com {
    handle /api/* {
        reverse_proxy backend:8000
    }

    handle /admin* {
        reverse_proxy backend:8000
    }

    handle /media/* {
        root * /var/www
        file_server
    }
    
    handle {
        root * /usr/share/caddy
        try_files {path} /index.html
        file_server
    }
}