
.btn-qubby {
  background-color: #ffa400;
  color: white;
}

.text-qubby {
  color: #ffa400 !important;
  text-decoration: none;
}

.form-check-input:checked {
  background-color: #ffa400; 
  border-color: #ffa400;
}

.form-check-input:focus {
  border-color: #ffa400;
  box-shadow: none; 
}