.btn {
  background-color: #ffa400;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.text-qubby {
  color: #ffa400 !important;
}

:host {
  display: block;
  width: 100%;
}