.header-custom {
    background-color: #535252;
}

.title-orange {
    color: #ffa400;
}

.btn-back {
    color: #ffa400;
    transition: transform 0.2s;
}

.btn-back:hover {
    transform: scale(1.1);
}

.btn-orange {
    background-color: #ffa400;
    color: white;
    border: none;
    transition: background-color 0.2s, transform 0.2s;
}

.btn-orange:hover:not([disabled]) {
    background-color: #d67f00;
    color: white;
    transform: translateY(-2px);
}

.btn-orange:disabled {
    background-color: #b8b8b8; 
    color: white;
    cursor: not-allowed;
}

.btn-success {
    background-color: #198754 !important;
    border-color: #198754 !important;
}

.form-container {
    max-width: 700px;
}

.custom-input {
    background-color: #f8f9fa;
    border-color: #dee2e6;
    transition: all 0.3s;
}

.custom-input:focus {
    background-color: white;
    border-color: #ffa400!important;
    box-shadow: 0 0 0 0.25rem rgba(243, 146, 0, 0.25) !important;
}

.form-select option {
    color: #495057;
    padding: 10px;
}

.cursor-pointer {
    cursor: pointer;
}

.image-upload-box {
    background-color: #f8f9fa;
    transition: all 0.3s ease-in-out;
}

.image-upload-box:hover {
    background-color: #e9ecef;
}

.border-dashed {
    border-style: dashed !important;
    border-color: #ced4da !important;
}

.image-upload-box.border-dashed:hover {
    border-color: #ffa400 !important;
}

.preview-image {
    max-height: 250px;
    width: 100%;
}