.btn-sidebar {
    color:  #ffa400;
    font-weight: 500;
    padding: 12px 15px;
    border-radius: 12px;
    transition: all 0.2s;
    border: none;
}
.btn-sidebar:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.btn-view {
    padding: 8px 15px;
    color: #535252;
    border: none;
}
.btn-view.active {
    background-color:  #ffa400;
    color: white;
    border-radius: 8px;
}

.btn-add-object {
    background-color:  #ffa400;
    color: white;
    border: none;
    transition: transform 0.2s;
}
.btn-add-object:hover {
    transform: scale(1.02);
    background-color: #d67f00;
}

.btn-fab {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color:  #ffa400;
    color: white;
    border: none;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.card {
    transition: transform 0.2s ease;
    cursor: pointer;
}
.card:hover {
    transform: translateY(-5px);
}

.btn-dark-soft {
    background-color: rgba(255,255,255,0.05);
    border: none;
}
.modal-backdrop-custom {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1050; 
}

.custom-modal {
    width: 90%;
    max-width: 450px;
    max-height: 90vh; 
}

.bg-success-subtle { background-color: #d1e7dd !important; }
.text-success { color: #0f5132 !important; }


.bg-gray-main {
    background-color: rgb(227, 227, 227);
}

.text-orange-qubby {
    color: #ffa400 !important;
}

.sidebar-custom, 
.header-mobile-custom {
    background-color: #535252;
}

.sidebar-custom {
    width: 280px;
}

.icon-box {
    width: 64px;
    height: 64px;
}

.search-input-mobile {
    background-color: #f1f1f1;
}

.search-container-desktop {
    width: 400px;
}

.icon-hamburger {
    line-height: 1;
}

.modal-image-custom {
    height: 180px;
}


@media (min-width: 992px) {
    .max-w-7xl {
        max-width: 1200px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .btn-add-object {
        max-width: 280px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}
.btn-list-mode {
    max-width: 100% !important;
}

.view-selector-wrapper { height: 50px; }
.btn-view-custom { width: 42px; height: 42px; padding: 0; }
.active-qubby { background-color: #FFA400 !important; color: white !important; }